@model Post

<div class="row">
	<div class="col-lg-8">
		<div class="bg-white p-4">
			<h1 class="h4 mb-4">@Model.Title</h1>

			<div class="tags">
				<a href="#" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">Php</a>
				<a href="#" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">Web Development</a>
			</div>
			<img src="~/img/@Model.Image" class="img-fluid rounded" alt=""/>
			<div>
				@Model.Content
			</div>
			<nav>
				<ul class="pagination">
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item"><a href="#" class="page-link">3</a></li>
				</ul>
			</nav>

		</div>
	</div>

	<div class="col-lg-4">

		@*burada tag list vardı her sayfada ayrı ayrı yazmak yerine viewcomponent yaptık, artık her yerden tek bir yer sayesinde erisecek*@
		<vc:tags-menu></vc:tags-menu> @*viewcomponenti boyle cagiriyoruz.*@
		<vc:new-posts></vc:new-posts>
		@* @await Component.InvokeAsync("TagsMenu")
		@await Component.InvokeAsync("NewPosts") *@
	</div>

</div>